# Compiled
*.py[cod]
*.obj
*.res
*.h
*.c
*.a
*.obj
*.o
*.cpp
*.exe
/bench.py
/ntquerydir.py
/Ntquery.md
/usage.py
/test-*.py
/io
/cancel
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Logs
pip-log.txt

# VirtualEnv Stuff
.vip/
.vip2/
.vip3/
.venv/

/ntfslink/cext_impl

# PyCharm
.idea/
*.iml
*.ipr
*.iws

.gtm/
